/* Styles for Secure Payment Form */

/* Payment form container */
.payment_form {
    background-color: #9fcdcd;
    margin-top: 100px;
    padding: 40px 40px 100px;
    width: 750px;
    height: 400px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  
  /* Payment form heading */
  .form_heading {
    background-color: #db6424;
    color: white;
    font-size: 24px;
    font-weight: 500;
    padding: 20px;
    padding-left: calc(100% - 80%);
    margin-left: -100px;
    clip-path: polygon(3% 0%, 70% 0%, 67% 100%, 0% 100%);
  }
  
  /* Content styling */
  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 55%;
  }
  
  /* Card number, holder name, expiry month, expiry year, cvv blocks */
  .card_number_block,
  .card_holder_block,
  .expiry_month,
  .expiry_year,
  .cvv_block {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  /* Additional info container */
  .additional_info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
  
  /* Input field styling */
  input {
    background-color: #b6d1d1;
    padding: 15px;
    font-size: large;
    border: none;
    border-bottom: 1px solid black;
  }
  
  /* Input placeholder styling */
  input::placeholder {
    color: #8ba6a9;
    font-weight: 500;
  }
  